///////// ABOUT /////////

$color-primary: #0b4e9e;

.page-a-propos {
  .column-intro-mipronet {
    .about-intro {
      margin-bottom: 75px;
    }

    .img-container {
      margin: 0 auto;
      display: flex;
      align-items: center;

      img {
        width: 200px;
        display: block;
        margin: 0 auto;
        height: unset;
      }
    }

    @media (min-width: 768px) {
      .about-intro {
        margin-bottom: 0;
      }

      .img-container {
        img {
          width: 250px;
          margin: 0 0 0 auto;
        }
      }
    }

    @media (min-width: 1024px) {
      .img-container {
        img {
          width: 350px;
        }
      }
    }
  }

  .column-valeurs-atouts {
    .normal-container {
      &:nth-child(2n) {
        margin-top: 50px;
      }
    }

    @media (min-width: 768px) {
      .normal-container {
        &:nth-child(2n) {
          margin-top: 0px;
        }
      }
    }
  }
}
