$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;

.button-primary {
  text-decoration: none;
  background: $color-primary;
  color: #fff;
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 0;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $color-primary-darker;
  }
}
