$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;

.card-container {
  &:first-child {
    margin-top: 75px;
  }

  a {
    text-decoration: none;
  }

  .card-body {
    min-height: 200px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin: 0;

    .card-image {
      margin-bottom: 10px;
    }

    .card-text {
      p {
        text-align: center;
        margin: 0;
      }
    }
  }

  .card-link {
    .card-text {
      color: black;
    }
  }

  .child-p-width-max {
    p {
      width: max-content;
    }
  }

  // STYLE WITH ICON SIZED IMAGE
  .card-icon-image {
    img {
      width: 40px;
      height: 40px;
    }
  }

  // STYLE WITH MEDIUM SIZED ROUNDED IMAGE
  .card-rounded-medium-img {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 3px solid $color-primary;
    }
  }

  &:hover {
    .card-link {
      background-color: $color-primary;
      cursor: pointer;
      .card-text {
        color: white;
      }
    }

    .card-link.card-rounded-medium-img {
      img {
        border: 3px solid #fff;
      }
    }
  }

  @media (min-width: 768px) {
    .card-body {
      justify-content: space-around;
    }
  }

  @media (min-width: 1024px) {
    .card-body {
      .card-text {
        max-width: 191px;
      }
    }

    .card-body.row {
      flex-direction: row;
    }

    .card-body.column {
      flex-direction: column;
    }
  }
}
