.column-container {
  background: white;
  margin-bottom: 75px;
  padding: 0px 30px;

  .column {
    margin: 0px;
  }

  .two-col {
    .col-item {
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .three-col {
    .col-item {
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .four-col {
    .col-item {
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  @media (min-width: 768px) {
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 760px;
      margin: 0 auto;
    }

    .two-col {
      > * {
        width: 47%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }

    .three-col {
      .col-item {
        width: 32.33%;
        margin-top: 0px;
      }
    }

    .four-col {
      .col-item {
        width: 20%;
        margin-top: 0px;
      }
    }
  }

  @media (min-width: 1024px) {
    .column {
      max-width: 900px;
    }

    .two-col {
      > * {
        width: 47%;
      }
    }

    .four-col {
      .col-item {
        width: 24%;
      }
    }
  }

  @media (min-width: 1240px) {
    .column {
      max-width: 1100px;
    }
  }
}
