$color-danger: #c12c27;

body {
  #root {
    .page-contact {
      .request-quote-intro {
        padding: 0 30px;
        margin-bottom: 30px;
        p {
          text-align: center;
        }
      }

      .form-container {
        padding: 0 30px;
        margin: 0 auto 75px;

        form {
          .field {
            margin-bottom: 14px;

            p {
              margin-bottom: 5px;
            }

            input {
              width: 100%;
            }

            .error-message {
              color: $color-danger;
              margin-top: 10px;
              display: block;
            }
          }

          .field-message {
            width: 100%;
            textarea {
              width: 100%;
              height: 250px;
            }
          }
        }

        button.form-submit {
          display: block;
          margin: 0 auto;
        }

        @media (min-width: 768px) {
          width: fit-content;

          form {
            display: flex;
            width: 700px;
            flex-wrap: wrap;
            justify-content: space-between;

            .field {
              width: 48%;

              p {
              }

              input[type="text"],
              input[type="email"] {
                width: -webkit-fill-available;
              }
            }

            .field-entreprise {
              width: 100%;
            }

            .field-message {
              width: 100%;
              textarea {
                width: 100%;
              }
            }
          }
        }
      }

      .request-quote-column {
        max-width: 700px;
        margin: 0 auto;
        .two-col {
          .normal-container,
          .img-container {
            justify-content: flex-start;
          }

          .normal-container {
            p {
              text-align: center;
            }
          }
        }

        .logo-image {
          margin-bottom: 10px;
          margin-left: 0;
          margin: 0 auto 10px;
          width: fit-content;

          img {
            width: 200px;
            object-fit: contain;
          }
        }

        @media (min-width: 768px) {
          padding: 0;

          .two-col {
            .normal-container {
              p {
                text-align: unset;
              }
            }
          }

          .logo-image {
            margin-bottom: 10px;
            margin-left: 0;
            width: 47%;
          }
        }
      }

      .request-quote-column-2 {
        max-width: 700px;
        margin: 0 auto 75px;

        .two-col {
          .normal-container {
            justify-content: flex-start;
            p {
              text-align: center;
            }
          }
        }

        .flex-order {
          > div {
            &:first-child {
              order: 2;
            }
          }
        }

        @media (min-width: 768px) {
          padding: 0;

          .two-col {
            .normal-container {
              p {
                text-align: unset;
              }
            }
          }

          .flex-order {
            > div {
              &:first-child {
                order: unset;
              }
            }
          }
        }
      }
    }
  }
}
