$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;
$color-dark: #1b1b1b;
$color-light: #fff;

footer {
  background-color: $color-dark;
  min-height: 400px;

  .footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    min-height: 400px;

    .footer-logo {
      font-size: 1.5rem;
      padding: 0;
      width: 150px;
      margin: 75px auto 0;

      img {
        width: 100%;
      }
    }

    .footer-nav-menu {
      transition: 0.3s;
      opacity: 1;

      .footer-item-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          list-style: none;
          text-align: center;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            padding: 0.5rem 1rem;
            display: block;
            transition: 0.5s;
            font-size: 14px;

            &:hover {
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }
    }

    .social-network {
      display: none;
    }
  }

  .copyright-text {
    color: #fff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 9px;
  }

  @media (min-width: 769px) {
    min-height: fit-content;

    .footer-container {
      .footer-nav-menu {
        padding-top: 0px;
        position: unset;
        height: unset;
        background-color: transparent;

        .footer-item-list {
          flex-direction: column;
          height: 100%;

          li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            a {
              padding: 1rem;
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    min-height: fit-content;

    .footer-container {
      flex-direction: row;
      align-items: baseline;
      min-height: max-content;
      padding: 50px 0 10px;
      max-width: 900px;
      margin: 0 auto;
      justify-content: space-between;

      .footer-logo {
        width: 33.33%;
        margin-top: 0;
        height: fit-content;
        text-align: left;

        img {
          width: 150px;
        }
      }

      .footer-nav-menu {
        width: 33.33%;

        .footer-item-list {
          li {
            a {
              padding: 0 0 2rem;
            }
          }
        }
      }

      .social-network {
        width: 33.33%;
        display: flex;
        justify-content: flex-end;
        margin: 30px auto;
        padding: 0;
        list-style: none;

        li {
          margin: 0 0 0 30px;
          a {
            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1240px) {
    .footer-container {
      max-width: 1100px;
    }
  }
}
