$color-light: #fff;

.page-header {
  margin-bottom: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;

  h1 {
    color: $color-light;
  }

  p {
    color: $color-light;
  }

  @media (min-width: 768px) {
    p {
      max-width: 55vw;
    }
  }

  @media (min-width: 1024px) {
    .header-container {
      width: 900px;
      margin: 0 auto;
    }
  }

  @media (min-width: 1240px) {
    .header-container {
      width: 1100px;
    }
  }
}
