///////// HOME /////////
$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;

// HEADER
.header-slider {
  .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .slick-prev {
    background-image: url(../assets/img/prev.svg);
    left: 20px;
  }

  .slick-next {
    background-image: url(../assets/img/next.svg);
    right: 20px;
  }

  .slick-active {
    .fullscreen-slide-item {
      z-index: 1;
      .fullscreen-text {
        animation-name: slideFadeInUp;
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      margin: 0px 8px;
      padding: 0;
      cursor: pointer;
      width: fit-content;

      button {
        position: relative;
        background-color: #fff;
        opacity: 0.25;
        width: 50px;
        height: 5px;
        padding: 0;
        font-size: 0;
      }
    }

    li.slick-active button {
      color: #fff;
      opacity: 0.75;
    }
  }

  @media (min-width: 768px) {
    .slick-arrow {
      width: 40px;
      height: 40px;
    }

    .slick-prev {
      left: 80px;
    }

    .slick-next {
      right: 80px;
    }
  }

  @media (min-width: 1440px) {
    .slick-arrow {
      width: 50px;
      height: 50px;
    }

    .slick-prev {
      left: 100px;
    }

    .slick-next {
      right: 100px;
    }
  }

  @media (min-width: 2000px) {
    .slick-prev {
      left: 200px;
    }

    .slick-next {
      right: 200px;
    }
  }
}

// ABOUT MIPRONET SECTION
.about-mipronet-parallax {
  .react-parallax-content {
    margin-top: 243px;

    .normal-container {
      border-bottom: 2px solid $color-primary;

      .about-mipronet-cta {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media (min-width: 768px) {
          width: 55%;

          p {
            text-align: left;
            color: black;
          }
        }
      }
    }

    > .react-reveal {
      padding: 75px 0;
      background-color: white;
    }

    @media (min-width: 768px) {
      margin-top: 0;

      .normal-container {
        border-bottom: 0;

        .about-mipronet-cta {
          width: 55%;

          p {
            text-align: left;
            color: black;
          }
        }
      }
    }
  }

  // SERVICES SECTION
  .nos-services-title {
    h2 {
      margin: 0;
      text-align: center;
    }
  }

  .slick-slider.nos-services-slider {
    margin: 30px auto;
    padding: 0 30px;

    .slick-arrow {
      width: 20px;
      height: 20px;
    }

    .slick-prev {
      background-image: url(../assets/img/prev-blue.svg);
      left: 20px;
    }

    .slick-next {
      background-image: url(../assets/img/next-blue.svg);
      right: 20px;
    }

    .slick-slide {
      > div {
        .card-container {
          margin-top: 0;
          .card-body {
            margin: 30px auto;
            max-width: 210px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .slick-prev {
        left: 10px;
      }

      .slick-next {
        right: 10px;
      }
      .slick-list {
        margin: 0 auto;
      }
    }

    @media (min-width: 1024px) {
      .slick-list {
        max-width: 900px;
        margin: 0 auto;
      }

      .slick-slide {
        > div {
          padding: 0px;
        }
      }
    }

    @media (min-width: 1440px) {
      .slick-list {
        max-width: 1100px;
        margin: 0 auto;
      }
    }
  }
}

// REQUEST QUOTE SECTION
.request-quote-parallax {
  .react-parallax-content {
    margin-top: 180px;
    .normal-container {
      border-bottom: 2px solid $color-primary;
      .request-quote-cta {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-weight: 900;
          text-align: center;
        }
      }
    }

    > .react-reveal {
      padding: 75px 30px;
      background-color: white;
    }
  }

  @media (min-width: 768px) {
    .react-parallax-content {
      margin: 0;
      .normal-container {
        justify-content: flex-end;
        border-bottom: 0;

        .request-quote-cta {
          padding: 75px 0;
          text-align: right;
          width: 66%;

          h2 {
            margin-bottom: 30px;
            color: white;
          }

          p {
            text-align: right;
            color: white;
          }

          .parallax-btn {
            margin-top: 30px;
          }
        }

        .request-quote-cta.parallax-home {
          h2 {
            color: $color-primary;
          }

          p {
            color: black;
          }
        }
      }
    }
  }
}

// PARTNER SECTION
.partner-title {
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }
}

.partner-slider {
  .slick-slide {
    img {
      width: 200px;
      height: 73px;

      margin: 0 auto;
    }
  }

  @media (min-width: 1024px) {
    .slick-list {
      max-width: 900px;
      margin: 0 auto;
    }
  }

  @media (min-width: 1440px) {
    .slick-list {
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}
