$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;
$color-dark: #1b1b1b;
$color-light: #fff;

.main-nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  color: #fff;
  z-index: 10;

  .main-nav-container {
    width: 100%;
    margin: 0 auto;

    .logo-container {
      margin: auto 0;
      display: block;
      width: 200px;
      height: 50px;

      .main-nav-logo {
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 1.5rem;
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 28px;
        width: 150px;
        height: 30.75px;

        &:hover {
          color: $color-primary;
          text-decoration: none;
        }

        img {
          width: 100%;
        }
      }
    }

    .main-nav-toggle {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      background-color: transparent;
      border: 0;
      padding: 0;
      transform: translateY(-50%);
      cursor: pointer;

      span {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
      }

      &:focus {
        outline: none;
      }
    }

    .main-nav-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 0px;
      background-color: $color-light;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.3s;
      opacity: 1;
      justify-content: space-between;

      .logo-container {
        margin: 0 auto;
        display: block;

        .main-nav-logo {
          text-align: center;
          width: 150px;
          margin: 0px auto 30px;
        }
      }

      .main-nav-item-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          list-style: none;
          text-align: center;
          width: 250px;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-dark;
            padding: 0.5rem 1rem;
            display: block;
            transition: 0.5s;
            font-size: 14px;

            &:hover {
              color: $color-primary;
              text-decoration: none;
            }
          }
        }
      }

      .social-network {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        padding: 0;
        list-style: none;
        width: 100%;

        li {
          margin: 0 10px 10px;
          a {
            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }

      &.active {
        width: 250px;
        z-index: 2;
      }
    }

    .close-sidebar {
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      transition: 0.3s;
      opacity: 1;
      display: none;
      background-color: black;
      opacity: 0.5;

      &.active {
        display: block;
      }
    }
  }

  @media (min-width: 1024px) {
    .main-nav-container {
      max-width: 900px;
      display: flex;
      justify-content: space-between;

      .logo-container {
        margin: 0;
        display: block;
        width: unset;
        height: unset;
        .main-nav-logo {
          padding: 1rem 0;
          margin: 0 0 auto;
          height: unset;
        }
      }

      .main-nav-toggle {
        display: none;
      }

      .main-nav-menu {
        width: fit-content;
        padding-top: 0px;
        position: unset;
        height: unset;
        background-color: transparent;

        .logo-container {
          display: none;
        }

        .main-nav-item-list {
          flex-direction: row;
          height: 100%;

          li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            a {
              padding: 16px 0px 16px 16px;
              margin: auto;
              width: max-content;
              color: $color-light;
            }
          }
        }

        .social-network {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1240px) {
    .main-nav-container {
      max-width: 1100px;
    }
  }
}

.sticky-nav {
  position: fixed;
  background-color: $color-light;
  border-bottom: 2px solid $color-primary;
  .main-nav-container {
    .main-nav-toggle {
      span {
        background-color: $color-primary;
      }
    }

    .main-nav-menu {
      .main-nav-item-list {
        li {
          a {
            color: $color-dark;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
