.react-parallax {
  .react-parallax-bgimage {
    width: 100% !important;
    //height: 100% !important;
    object-fit: contain;
    object-position: top;
    @media (min-width: 1280px) {
      //object-fit: cover;
    }
  }

  .react-parallax-content {
    // WIDTH CONTAINER
    .normal-container {
      margin: 0px;
      position: relative;

      .parallax-cta {
        background-color: white;
        text-align: center;
        padding: 75px 30px;
      }
    }

    @media (min-width: 768px) {
      .normal-container {
        max-width: 700px;
        margin: 0 auto;
        display: flex;

        .parallax-cta {
          background-color: transparent;
          text-align: left;
          padding: 75px 0px;
        }
      }
    }

    @media (min-width: 1024px) {
      .normal-container {
        max-width: 900px;
      }
    }

    @media (min-width: 1240px) {
      .normal-container {
        max-width: 1100px;
      }
    }
  }
}
