body {
  #root {
    .page-nos-services {
      .page-header {
        margin-bottom: 0;
      }

      .custom-margin {
        margin-bottom: 75px;
      }
      .housekeeping-section-1,
      .housekeeping-section-2 {
        align-items: center;

        .img-container {
          margin: 0 auto;
          width: fit-content;

          img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
          }
        }

        @media (min-width: 1024px) {
          .img-container {
            img {
              width: 350px;
              height: 350px;
            }
          }
        }
      }

      .services-pro-section,
      .services-prestation-section,
      .services-produit-section,
      .services-prestation-nettoyage {
        align-items: center;

        .img-container {
          margin: 16px auto 0;
          width: fit-content;

          img {
            object-fit: cover;
            border-radius: 50%;
            width: 200px;
            height: 200px;
          }
        }

        @media (min-width: 768px) {
          .img-container {
            margin: 0 auto;
          }
        }

        @media (min-width: 1024px) {
          .img-container {
            img {
              width: 350px;
              height: 350px;
            }
          }
        }
      }

      .services-pro-section,
      .services-produit-section {
        display: flex;
        flex-direction: column;
        .img-container {
          order: 2;
        }
        .normal-container {
          order: 1;
        }

        @media (min-width: 768px) {
          flex-direction: row;

          .img-container {
            order: 1;
          }
          .normal-container {
            order: 2;
          }
        }
      }
      .services-intro-container {
        margin-bottom: 0;

        .services-intro-section {
          align-items: center;

          .img-container {
            height: 100%;
            margin: 30px auto 0;

            img {
              border-radius: 50%;
              width: 200px;
              height: 200px;
              object-fit: cover;
            }
          }
        }

        @media (min-width: 1024px) {
          .services-intro-section {
            .img-container {
              img {
                width: 350px;
                height: 350px;
              }
            }
          }
        }
      }

      .entreprise-section {
        margin-bottom: 75px;
        padding: 0 30px;

        p {
          width: fit-content;
          margin: 0 auto;
        }
      }

      .services-prestation-section {
        .img-container {
          img {
            border-radius: 0;
            width: 150px;
            height: 150px;
          }
        }

        @media (min-width: 1024px) {
          .img-container {
            img {
              width: 250px;
              height: 250px;
            }
          }
        }
      }

      .services-prestation-nettoyage-container {
        margin-bottom: 0;
      }

      .housekeeping-container-1 {
        margin-bottom: 2rem;
        .housekeeping-section-1 {
          .img-container {
            img {
              margin-top: 14px;
            }
          }
        }

        @media (min-width: 768px) {
          margin-bottom: 1rem;
        }
      }

      .housekeeping-container-2 {
        margin-bottom: 0;

        .housekeeping-section-2 {
          .img-container {
            img {
              margin-top: 20px;
            }
          }
        }
      }

      .concierge-section {
        padding: 0 30px;
        margin-bottom: 30px;

        h2 {
          text-align: center;
        }

        @media (min-width: 768px) {
          p {
            text-align: center;
          }
        }

        @media (min-width: 1024px) {
          padding: 0;
        }
      }

      .concierge-section-2 {
        align-items: center;

        .img-container {
          margin-bottom: 30px;
        }
      }

      .request-quote-parallax {
        @media (min-width: 768px) {
          .react-parallax-bgimage {
            object-position: bottom;
          }

          .react-parallax-content {
            .normal-container {
              .request-quote-cta {
                padding: 75px 0px;

                h2 {
                  color: $color-primary;
                }
                p {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
