// SLICK BASIC SETTINGS
.slick-slider {
  .slick-arrow {
    display: block;
    background-size: contain;
    z-index: 2;
  }

  .slick-arrow::before {
    content: "";
  }
}

// FULL SCREEN SLIDER
.fullscreen-slide-item {
  height: 100vh;
  position: relative;

  .fullscreen-img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #000;

    img {
      width: 100%;
      height: 100vh;
      opacity: 0.6;
      object-fit: cover;
      object-position: 70%;

      @media (min-width: 1024px) {
        object-position: unset;
      }
    }
  }

  .fullscreen-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    align-items: center;

    h2 {
      font-size: 25px;
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      margin: 0;
      width: calc(100vw - 25%);
    }

    .fullscreen-paraph {
      width: calc(100vw - 25%);

      p {
        color: #fff;
        text-align: center;
        font-size: 20px;
      }
    }
  }

  @media (min-width: 500px) and (max-width: 900px) and (max-height: 450px) {
    .fullscreen-text {
      flex-direction: row;
      width: 80%;
      flex-wrap: wrap;
      align-items: flex-start;
      height: fit-content;
      padding-top: 30px;

      h2 {
        width: 100%;
        margin-bottom: 40px;
      }

      .fullscreen-paraph {
        width: 50%;

        p {
          text-align: left;
        }
      }

      .banner-btn {
        width: 50%;
      }
    }
  }

  @media (min-width: 768px) and (min-height: 451px) {
    .fullscreen-text {
      h2 {
        width: max-content;
      }
    }
  }
}
