@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@import "./column";
@import "./card";
@import "./parallax";
@import "./button";
@import "./main_nav";
@import "./footer";
@import "./slick_slider";
@import "./spinner";
@import "./header";
@import "./home";
@import "./about";
@import "./services";
@import "./contact";

$color-primary: #0b4e9e;
$color-primary-dark: #083e7e;
$color-primary-darker: #052f62;

$color-dark: #1b1b1b;
$color-light: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: $color-primary;
    font-weight: 900;
    margin-bottom: revert;
  }
  p {
    font-size: 14px;
    font-weight: 100;
    text-align: justify;

    b {
      font-weight: bold;
    }
  }

  li {
    font-size: 14px;
    font-weight: 100;

    b {
      font-weight: bold;
    }
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  ul {
    list-style: url(../assets/img/next-blue.png);
    li {
      margin-bottom: 10px;
      b {
        color: $color-primary;
      }
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 12px;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 12px;
    }
  }

  #root {
    ///////// BASE /////////

    .anchor-offset {
      display: block;
      height: 60px;

      @media (min-width: 1024px) {
        height: 78px;
      }
    }

    // Change display order
    .flex-order {
      display: flex;
      flex-direction: column;

      .second-order {
        order: 2;
      }

      @media (min-width: 768px) {
        flex-direction: row;

        .second-order {
          order: unset;
        }
      }
    }

    //CONTAINER WIDTH
    .custom-container {
      flex-direction: column;
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 760px;
        margin: 0 auto;
      }

      @media (min-width: 1024px) {
        width: 900px;
      }

      @media (min-width: 1240px) {
        width: 1100px;
      }
    }

    // ANIMATION
    @-webkit-keyframes slideFadeInUp {
      // Fade in and Slide Up the element
      from {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
      }
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @keyframes slideFadeInUp {
      // Fade in and Slide Up the element
      from {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        transform: translate(-50%, -25%);
      }
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        transform: translate(-50%, -50%);
      }
    }
  }
}
