:root {
  /* --color-primary: #c12c27;
  --color-primary-dark: #9d1511;
  --color-primary-darker: #740300; */
  --color-primary: #0b4e9e;
  --color-primary-dark: #083e7e;
  --color-primary-darker: #052f62;
}

.hide {
  display: none;
  transition: height 1s ease-in-out;
  -webkit-animation: dropDown 0.5s ease-in 1 forwards;
  animation: dropDown 0.5s ease-in 1 forwards;
}

.c-sf-block__header {
  cursor: pointer;
}

div.c-sf-block:hover {
  border-color: var(--color-primary);
}

.c-sf-block:hover > div.c-sf-block__header > .c-sf-block__actions > *,
.c-sf-block:hover > div.c-sf-block__header > * {
  color: #fff;
}

.c-sf-block__content {
  transition: all 1s ease-in-out;
}

#wagtail header,
.page-explorer .listing .index,
.listing td.children:hover,
.c-sf-block:hover > div.c-sf-block__header {
  background-color: var(--color-primary);
}

.page-explorer .listing .index .button.bicolor,
.page-explorer .listing .index .button:hover,
.t-inverted .u-btn-current:hover,
.breadcrumb,
header .button:hover {
  background-color: var(--color-primary-dark);
}

.breadcrumb li:hover,
.breadcrumb a:hover {
  background-color: var(--color-primary-darker);
}

#wagtail .panel.summary a,
.listing .title .title-wrapper a:hover,
.listing .button-secondary,
.t-default .u-btn-current,
.icon.teal,
.listing .children a,
.breadcrumb .arrow_right_icon,
.breadcrumb a:hover .arrow_right_icon,
tbody .no-results-message a,
.listing .no-children a:hover,
.tab-nav.merged,
.button.button--live {
  color: var(--color-primary);
}

.listing .button-secondary:hover,
.t-default .u-btn-current:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

a.status-tag.primary:hover,
a.status-tag:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

button.status-tag:hover {
  color: #fff;
  background-color: var(--color-primary-darker);
  border-color: var(--color-primary-dark);
}

.tab-nav a {
  background-color: var(--color-primary-darker);
  border-top: var(--color-primary-darker);
}

@-webkit-keyframes dropDown {
  to {
    width: 0;
  }
}

@keyframes dropDown {
  to {
    width: 0;
  }
}
