<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending emails to user in Python</title>
  </head>
  <body>
    <h1>Mipronet</h1>

    <h2>Informations détaillées :</h2>

    <p>Nom : {{ data.nom }}</p>
    <p>Prenom : {{ data.prenom }}</p>
    <p>Téléphone : {{ data.telephone }}</p>
    <p>E-mail : {{ data.email }}</p>
    <p>Entreprise : {{ data.entreprise }}</p>
    <p>Message :</p>
    <p>{{ data.message }}</p>

  </body>
</html>